.content-holder-50 {
	width: 50%;
	margin: auto;
}
.content-holder-70 {
	width: 70%;
	margin: auto;
}
.no-margin {
	margin: 0px;
}
.margin-bottom-small {
	margin-bottom: 10px;
}
.answer-btn {
	width: 100%;
	white-space: normal;
}
.hidden {
	display: none;
}
.home-footer {
	position: absolute;
	bottom: 0px;
	width: 100vw;
}
.credit div p {
	font-size: medium;
}
.result {
	padding-top: 130px;
}
.percent {
	padding: 15px 20px 20px 20px;
	background-image: url(/img/heart.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
img {
	max-width:100%;
	max-height:100%;
}
.img-holder {
	height: 250px;
}
.share {
	margin-top: 50px;
}
.left-img {
	float: right;
}
.right-img {
	float: left;
}
@media (max-width:1199px) {
	.left-img {
		float: none;
	}
	.right-img {
		float: none;
	}
}