.content-holder-50 {
	width: 50%;
	margin: auto;
}
.content-holder-70 {
	width: 70%;
	margin: auto;
}
.no-margin {
	margin: 0px;
}
.margin-bottom-small {
	margin-bottom: 10px;
}
.answer-btn {
	width: 100%;
}
.hidden {
	display: none;
}