<template name="admin">
	<section class="container content-section text-center">
	    <div class="row">
	        <div id class="col-md-8 col-md-offset-2">
	            <h1 class="margin-bottom-small">ADD QUESTION</h1>
                <div class="content-holder-70">
                    <form>
                        <div class="form-group">
                            <textarea id="ques" class="form-control margin-bottom-small" rows="3" placeholder="Question"></textarea>
                            <div class="row">
                            	<div class="col-md-6 margin-bottom-small">
                            		<input id="ans0" type="text" class="form-control" placeholder="Choice 1">
                            	</div>
                            	<div class="col-md-6 margin-bottom-small">
                            		<input id="ans1" type="text" class="form-control" placeholder="Choice 2">
                            	</div>
                            </div>
                        </div>
                        <button id="submit" type="submit" class="btn btn-default center-block">SUBMIT</button>
                    </form>
                </div>
	        </div>
	    </div>
	</section>
	<section class="container content-section text-center">
	    <div class="row">
	        <div class="col-md-8 col-md-offset-2">
	            <h4>ALL QUESTIONS ({{numOfQuestions}})</h4>
                <div class="content-holder-70" >
                    {{#each questions}}
                        {{> questionAdmin}}
                    {{/each}}
                </div>
	        </div>
	    </div>
	</section>
    <section class="container content-section text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>ALL USERS ()</h4>
                <h5>Male</h5>
                <h5>Female</h5>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
</template>