<template name="home">
    <!-- Intro Header -->
    <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">TheQuiz</h1>
                        {{#if currentUser}}
                            {{#if completed}}
                                {{#if isFemale}}
                                    <button id="view-result" class="btn btn-default">Xem kết quả</button>
                                {{else}}
                                    <p>Đáp án của bạn đã được lưu thành công</p>
                                    <p>Cảm ơn bạn đã dành thời gian tham gia TheQuiz</p>
                                {{/if}}
                            {{else}}
                                <button id="take-quiz" class="btn btn-default">Bắt đầu</button>
                            {{/if}}
                        {{else}}
                            <button id="facebook-login" class="btn btn-default">Đăng nhập Bằng Facebook</button>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer class="home-footer">
        <div class="container text-center" style="width:100%">
            <p>&copy; TheQuiz 2016</p>
        </div>
    </footer>
</template>