<template name="home">
    <!-- Intro Header -->
    <div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
    </div>
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">TheQuiz</h1>
                        <p class="intro-text">Find your perfect match</p>
                        {{#if currentUser}}
                            {{#if completed}}
                                {{#if isFemale}}
                                    <button id="view-result" class="btn btn-default">View your match</button>
                                {{else}}
                                    <p>Your answers have been recorded</p>
                                    <p>Thank you for your time</p>
                                {{/if}}
                            {{else}}
                                <button id="take-quiz" class="btn btn-default">Start the quiz</button>
                            {{/if}}
                        {{else}}
                            <button id="facebook-login" class="btn btn-default">Login with Facebook</button>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>&copy; TheQuiz 2016</p>
        </div>
    </footer>
</template>