<template name="quiz">
	<section id="ready" class="container content-section text-center">
	    <div class="row">
            <h1>Hi {{currentUser.services.facebook.first_name}}, <br>ARE YOU READY TO TAKE THEQUIZ?</h1>
        	<button id="quiz-start" class="btn btn-default">START</button>
	    </div>
	</section>
	<section class="container content-section text-center">
        <div class="content-holder-70">
        	<p id="quiz-progress" class="hidden">{{activeQuestion}} out of {{numOfQuestion}}</p>
	        {{#each questions}}
	            {{> individualQuestion}}
	        {{/each}}
        </div>
	</section>
</template>